<h1>Listing subscription_payments</h1>

<table>
  <thead>
    <tr>
      <th>Subscription payment</th>
      <th>Subscription</th>
      <th>Amount paid</th>
      <th>Date paid</th>
      <th>Good till</th>
      <th>Paypal</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscription_payments.each do |subscription_payment| %>
      <tr>
        <td><%= subscription_payment.subscription_payment_id %></td>
        <td><%= subscription_payment.subscription %></td>
        <td><%= subscription_payment.amount_paid %></td>
        <td><%= subscription_payment.date_paid %></td>
        <td><%= subscription_payment.good_till %></td>
        <td><%= subscription_payment.paypal %></td>
        <td><%= subscription_payment.notes %></td>
        <td><%= link_to 'Show', subscription_payment %></td>
        <td><%= link_to 'Edit', edit_subscription_payment_path(subscription_payment) %></td>
        <td><%= link_to 'Destroy', subscription_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscription payment', new_subscription_payment_path %>
