<p id="notice"><%= notice %></p>

<p>
  <strong>Subscription:</strong>
  <%= @subscription.subscription_id %>
</p>

<p>
  <strong>Route:</strong>
  <%= @subscription.route %>
</p>

<p>
  <strong>Run sequence:</strong>
  <%= @subscription.run_sequence %>
</p>

<p>
  <strong>Number:</strong>
  <%= @subscription.number %>
</p>

<p>
  <strong>Street:</strong>
  <%= @subscription.street %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @subscription.qty %>
</p>

<p>
  <strong>Qty comp:</strong>
  <%= @subscription.qty_comp %>
</p>

<p>
  <strong>Service notes:</strong>
  <%= @subscription.service_notes %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @subscription.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @subscription.first_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @subscription.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @subscription.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @subscription.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @subscription.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @subscription.zip %>
</p>

<p>
  <strong>Started date:</strong>
  <%= @subscription.started_date %>
</p>

<p>
  <strong>Last letter sent date:</strong>
  <%= @subscription.last_letter_sent_date %>
</p>

<p>
  <strong>Renewal x0020 grp:</strong>
  <%= @subscription.renewal_x0020_grp %>
</p>

<p>
  <strong>Sold x0020 by:</strong>
  <%= @subscription.sold_x0020_By %>
</p>

<p>
  <strong>Subscription amount:</strong>
  <%= @subscription.subscription_amount %>
</p>

<p>
  <strong>Maint:</strong>
  <%= @subscription.maint %>
</p>

<p>
  <strong>Subscription notes:</strong>
  <%= @subscription.subscription_notes %>
</p>

<p>
  <strong>Renewal due date:</strong>
  <%= @subscription.renewal_due_date %>
</p>

<p>
  <strong>Subscription status:</strong>
  <%= @subscription.subscription_status %>
</p>

<p>
  <strong>Alternative invoice:</strong>
  <%= @subscription.alternative_invoice %>
</p>

<p>
  <strong>Map date:</strong>
  <%= @subscription.map_date %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
