<h1>Listing runs</h1>

<table>
  <thead>
    <tr>
      <th>Run</th>
      <th>Route</th>
      <th>Member</th>
      <th>Run date</th>
      <th>Time taken</th>
      <th>Am pm</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runs.each do |run| %>
      <tr>
        <td><%= run.run_id %></td>
        <td><%= run.route %></td>
        <td><%= run.member %></td>
        <td><%= run.run_date %></td>
        <td><%= run.time_taken %></td>
        <td><%= run.am_pm %></td>
        <td><%= run.notes %></td>
        <td><%= link_to 'Show', run %></td>
        <td><%= link_to 'Edit', edit_run_path(run) %></td>
        <td><%= link_to 'Destroy', run, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Run', new_run_path %>
