<head>
<style type="text/css">
   @media print {
  .page-break {
    display: block;
    page-break-before: always;
  }
}
   @media print {
    .hide_in_pdf {
        display:none;
    }
}
    <%= Rails.application.assets.find_asset('application.css').to_s.html_safe %>
</style>
</head>
<section>
<h1><h1>
<% @routesHash.each_key do |key|%>
<div class="nav1">
<p class="p1">Route :<%= key%>    </p>
<p class="p1"> Morning Drive :&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Evening Driver :                  </p>
<p class="p1">Morning start time : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp                          Evening start time :            </p>
</div>
	<table class="zui-table zui-table-zebra zui-table-horizontal">
  <thead>
    <tr>
      <th>Seq</th>
      <th>Status</th>
      <th>Street</th>
      <th>#</th>
      <th>Name</th>
      <th>Service Notes</th>
      <th>ID</th>
    </tr>
  </thead>

  <tbody>
    <% @routesHash[key].each do |subs| %>
      <tr>
        <td><%= subs.run_sequence %></td>
        <td><%= subs.subscription_status %></td>
        <td><%= subs.street %></td>
        <td><%= subs.qty %></td>
        <td><%= subs.last_name%></td>
        <td><%= subs.subscription_notes%></td>
        <td><%= subs.subscription_id%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<p class="p1">Morning end time : &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp                          Evening end time :            </p>
<p class="p1">Morning Scouts(List on back) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp       Evening Scouts(List on back)</p>
<br>
<hr class="headingLine">
<%end%>

</section>

